.sec1 {
    height: 100%;
    width: 100%;
}
.calc {
    margin-top: 10%;
    background-color: #F0F8FF;
    padding: 50px;
}

.text {
    margin-top: 7%;
    color:blue

}

button {
 width:59px;
}

#delete {
    font-size:16px;
}
